// @import "./reset";
// * {
//   box-sizing: border-box;
// }

// :root {
//   --primary: #0038ff;
//   --secondary: #e3f5ff;
//   --text-color: black;
// }
@import "./loading-screen";

.no-scroll {
  overflow: hidden;
}

@mixin scrollBar() {
  &::-webkit-scrollbar {
    width: 4px;
    &-track {
      border-radius: 8px;
    }
    &-thumb {
      background: var(--primary);
      border-radius: 8px;
    }
  }
}

.cart-wrapper {
  position: fixed;
  z-index: 999;
  &,
  .cart-overlay,
  .cart {
    top: 0;
    right: 0;
    display: none;
    width: 100vw;
    height: 100dvh;
  }
  &.active {
    &,
    .cart-overlay {
      display: unset;
    }
    .cart {
      display: flex;
      flex-direction: column;
    }
  }
  .cart-overlay {
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.452);
    animation: fadeIn 0.3s linear;
  }
  .cart {
    position: absolute;
    background-color: white;
    z-index: 1;
    max-width: 31.25rem;
    animation: grow 0.3s linear;
    padding: 1.5rem;
    font-family: Poppins;
    @media (max-width: 768px) {
      padding: 1rem 0.5rem;
    }
    &__head {
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.1875rem;
      color: #202020;
      align-items: center;
      justify-content: space-between;
      display: flex;
      margin-bottom: 1.5rem;
      @media (max-width: 768px) {
        margin-bottom: 1rem;
      }
      &__title {
        display: flex;
        align-items: center;
        gap: 0.3rem;
      }
      &__close-button {
        margin: 0;
        padding: 0;
        line-height: 0;
        background: none;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          transform: scale(1.2);
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
    &__prod-container {
      overflow: auto;
      @include scrollBar();
      padding: 0 0.3rem 0 0;
      height: 100%;
    }
    &__order-bumps-container:has(div) {
      padding-top: 1rem;
      border-top: 1px solid black;
    }
    // &__order-bumps-container .cart__dropdown {
    //   display: none;
    // }
    &__product {
      display: flex;
      align-items: flex-start;
      width: 100%;
      gap: 1rem;
      padding: 1rem;
      background-color: #f5f5f5;
      border-radius: 0.1875rem;
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 1rem;
      }
      @media (max-width: 768px) {
        padding: 0.7rem;
        gap: 0.7rem;
      }
      img {
        width: 100%;
        max-width: 4.6875rem;
      }
      &__info {
        width: 100%;
        .add-wrapper {
          display: flex;
          align-items: center;
          gap:1rem;
        }
        &:has(.cart__variants) {
          .add-button {
            margin-top: 0.5rem;
          }
        }
        &:has(.add-wrapper){
          .add-button{
            font-size: 0.875rem;
          }
        }
      }
      &__title,
      &__variant-title {
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
      &__variant-title {
        color: rgb(88, 88, 88);
      }
      // &:not(:has(.cart__dropdown)){
      //   .cart__product__title{
      //     font-size: 1rem;
      //   }
      // }
    }
    &__dropdown {
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #c2c4c7;
      border-radius: 5px;
      padding: 0.7rem;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;
      position: relative;
      &.shake {
        animation: 0.3s forwards tilt-shaking;
        background-color: #ffe3e3;
        border-color: #ff2321;
      }
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      svg {
        width: 1rem;
        transition: 0.3s;
        flex-shrink: 0;
        @media (max-width: 768px) {
          width: 0.7rem;
        }
      }
      &:hover,
      &:focus,
      &.active {
        border-color: #48494b;
      }
      &.active {
        .cart__dropdown__variants {
          max-height: 8.4rem;
          padding: 0.5rem;
          border: 1px solid #c2c4c7;
          overflow: auto;
          @media (max-width: 768px) {
            max-height: 10.4rem;
          }
        }
      }
      &__variants {
        max-height: 0;
        border: 1px solid transparent;
        border-top: 0px;
        border-bottom: 0px;
        padding: 0 0.5rem;
        overflow: hidden;
        position: absolute;
        z-index: 999;
        transition: 0.3s;
        top: calc(100% + 0.3125rem);
        left: 0;
        background-color: #f5f5f5;
        width: 100%;
        border-radius: 5px;
        @include scrollBar();
        .button-wrapper {
          input:checked + label .label-ball:after {
            background-color: var(--primary);
          }
          label {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            cursor: pointer;
            font-size: 0.9rem;
            &:hover,
            &:focus {
              .label-ball {
                border-color: var(--primary);
              }
            }
            .label-ball {
              width: 0.8rem;
              height: 0.8rem;
              border-radius: 50%;
              border: 1px solid black;
              display: flex;
              flex-shrink: 0;
              &:after {
                content: "";
                width: 70%;
                height: 70%;
                display: block;
                border-radius: 50%;
                margin: auto;
              }
            }
          }
          &:not(:last-child) label {
            padding-bottom: 0.6rem;
            @media (max-width: 768px) {
              padding-bottom: 0.9rem;
            }
          }
        }
      }
      &.active {
        svg {
          transform: rotate(0.5turn);
        }
      }
    }
    &__secondary-wrapper {
      display: flex;
      gap: 0.3rem;
      @media (max-width: 432px) {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
      }
      .button-wrapper {
        width: 100%;
        .label-ball {
          display: none;
        }
        label,
        .placeholder__text-wrapper {
          display: flex;
          aspect-ratio: 1/1;
          width: 100%;
          border-radius: 50%;
          justify-content: center;
          text-align: center;
          background-color: #ececec;
          border: 2px solid #ececec;
          cursor: pointer;
          &:hover,
          &:focus {
            border-color: var(--primary);
          }
          padding: 0.25rem;
          .label-text {
            position: relative;
            font-size: 0.8125rem;
            line-height: 1;
            font-weight: 700;
            margin: auto;
            .label-price {
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              color: #000;
              font-size: 0.4375rem;
              font-weight: 700;
            }
          }
        }
        input:checked + label {
          border-color: var(--primary);
          background-color: var(--secondary);
        }
        &--placeholder {
          .placeholder__text-wrapper {
            color: #808080;
            cursor: not-allowed;
            position: relative;
            &:after,
            &:before {
              content: "";
              width: 100%;
              height: 1px;
              background-color: #f00;
              position: absolute;
              top: 50%;
            }
            &:after {
              transform: rotate(45deg);
            }
            &:before {
              transform: rotate(-45deg);
            }
            &:hover,
            &:focus {
              border-color: #ececec;
            }
          }
        }
      }
      &.shake label {
        animation: 0.3s forwards tilt-shaking;
        background-color: #ffe3e3;
        border-color: #ff2321;
      }
    }
    &__variants {
      display: flex;
      gap: 0.3125rem;
      label {
        width: 100%;
        display: block;
        font-size: 0.75rem;
        line-height: 1.1;
        font-weight: 600;
        text-align: center;
        border-radius: 0.5rem;
        border: 1px solid #c2c4c7;
        padding: 0.3125rem;
        cursor: pointer;
        img {
          width: 100%;
        }
        &:hover,
        &:focus {
          border-color: black;
        }
      }
      input:checked + label {
        outline: 1px solid red;
        border-color: red;
      }
    }
    .qtty-wrapper {
      display: flex;
      gap: 0.5rem;
      button {
        padding: 0;
        margin: 0;
        border: none;
        background: #c2c4c7;
        border-radius: 50%;
        display: flex;
        cursor: pointer;
        transition: 0.3s;
        &:hover,
        &:focus {
          transform: scale(1.1);
        }
        &:active {
          transform: scale(0.9);
        }
        svg {
          fill: white;
        }
      }
      input {
        max-width: 2rem;
        border: 1px solid #c2c4c7;
        border-radius: 3px;
        font-weight: 700;
        font-family: Poppins;
        text-align: center;
        font-size: 0.8rem;
        appearance: none;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          appearance: none;
          margin: 0;
        }
      }
    }
    &__foot {
      width: 100%;
      margin-top: auto;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .add-button {
      background: #00bf13;
    }
    .buy-button {
      background: #435ebe;
    }
    .buy-button,
    .add-button {
      width: 100%;
      font-size: 1rem;
      font-weight: 700;
      color: white;
      border: none;
      border-radius: 0.3125rem;
      padding: 0.7rem;
      cursor: pointer;
      transition: 0.3s;
      &:hover,
      &:focus {
        transform: scale(1.06);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes tilt-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
